body {
    background: #ffffff url('../image/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

html {
	box-sizing: border-box;
}

*，
*::before,
*::after {
	box-sizing: inherit;
}

html, 
body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

h1 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
/*设置星级、点击次数、重启按钮的样式*/
.score-panel {
	margin: 0 0 15px 0;
	padding: 0;
	text-align: left;
	width: 350px;
}

.score-panel .stars li {
	list-style: none;
	display: inline-block;
}

.score-panel .stars {
	display: inline-block;
	margin: 0 5px 0 0;
	padding: 0;
}

.restart {
	float: right;
	cursor: pointer;
}
/*设置图片网格的样式*/
.wangge {
	width: 660px;
	min-height: 680px;
	background: linear-gradient(to right bottom, #02ccba 0%, #aa7ecd 100%);
	padding: 32px;
	margin: 0 0 10px;
	border-radius: 10px;
	box-shadow: 12px 15px 20px 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.wangge .card {
	height: 125px;
	width: 150px;
	background: #2e3d49;
	font-size: 0;/*大小设置为0作为隐藏*/
	color: white;
	border-radius: 8px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 2px 2px 20px 0;
}

.wangge .card.open {
	transform: rotateY(0);
	background: #02b3e4;
	cursor: default;
}

.wangge .card.show {
	font-size: 30px;/*大小设为30作为翻开时的显示*/
}

.wangge .card.match {
	cursor: default;
	background: #02ccba;
	font-size: 33px;/*匹配上后大小为33*/
}

#myModal {
	display: none;/*模态框隐藏*/
}